**Math: math module for calculations.**

In [ ]:
import math

# Arithmetic Function:
print("Round up to nearest integer: ",math.ceil(4.1))
print("Round up to nearest integer: ",math.floor(4.8))
print("Remove fraction: ",math.trunc(4.312))
print("Absolute value as float: ",math.fabs(-4.1))
print("Factorial: ",math.factorial(4))

In [ ]:
# Power and root functions:
print("X raised to power of Y :",math.pow(2,3))
print("Square root :",math.sqrt(25))
print("Log value :",math.log(20))
print("Log base 10 :",math.log10(30))
print("Log base 2 :",math.log2(10))

In [ ]:
# Trignometric Functions:
print("Cosine of 0:", math.cos(0))                  # 1.0
print("Tangent of π/4:", math.tan(math.pi / 4))     # 1.0
print("Arcsin(1):", math.asin(1))                   # π/2
print("Arccos(1):", math.acos(1))                   # 0
print("Arctan(1):", math.atan(1))

In [ ]:
# Constant:
print("Pi:", math.pi)
print("Euler's number (e):", math.e)
print("Infinity:", math.inf)
print("Not a Number (NaN):", math.nan)

**Datetime: Handling dates and times.**

In [ ]:
import datetime
from datetime import date, time, datetime, timedelta

now = datetime.now()

# Current date and time:
print("Now: ",now)
print("Date: ",now.date())
print("Time: ",now.time())

print("Date: ",date(2025,1,31))
print("Time: ",time(1,23))

In [ ]:
dt = datetime(2025,5,14,9,40)
print("Custome date-tiime: ",dt)
today = date.today()
print("Today: ",date.today())
print("Yesterday: ",today - timedelta(days=1))
print("Tomorrow: ",today + timedelta(days=1))

birthdate = date(1997,11,12)
age = today.year - birthdate.year
print("Age: ",age)

**Random: Random number generation.**

In [ ]:
import random

a = [1,2,3,4,5,6,7]
print("Pick random no: ",random.choice(a))

r1 = random.randint(2,8)
print("Random int in specified range: ",r1)

print("Generate random float number: ",random.random())

print("Random sequence: ",random.sample(a,5))

print("Shuffel randomly: ",random.shuffle(a))

print("Seed() - same result for every run with same seed.")
random.seed(5)
print(random.randint(1, 10))  # same result

random.seed(5)
print(random.randint(1, 10))  # same result

suits = ['Hearts', 'Diamonds', 'Clubs', 'Spades']
ranks = ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']
deck = [(rank, suit) for suit in suits for rank in ranks]

random.shuffle(deck)
hand = deck[:5]
print("Draw 5 random cards: ",hand)

**JSON: Parsing and writing JSON data.**

In [ ]:
import json

# read json:
json_str = '{"name":"Loki", "age":25}'
data = json.loads(json_str)
print(data['name'])

# write to json string:
person = {"name":"Baki", "age":31}
json_str = json.dumps(person)
print(json_str)

Loki
{"name": "Baki", "age": 31}

In [7]:
# read json from a file:

with open('data.json', 'r') as f:
    data = json.load(f)
    for i in data['users']:
        print(i['name'])

Alice Johnson
Bob Smith
Charlie Lee

In [10]:
# write to json file:

with open('output.json','w') as f:
    json.dump(data,f,indent=4)

**CSV: Reading and writing CSV files.**

In [ ]:
import csv

# read csv as file:
with open('Employees.csv', newline='') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['ID', 'FirstName', 'LastName', 'Department', 'Phone', 'Address', 'Salary']
['1', 'Luke', 'Phillip', 'Sales', '5564567890', '1st Address, Miami', '25000']
['2', 'Jack', 'Darren', 'IT', '3444567891', '2nd Address, Chicago', '33600']
['3', 'Ken', 'Wood', 'IT', '5524567892', '3rd Address, LA', '41150']
['4', 'John', 'Wilson', 'Marketing', '1124567893', '4th Address, Chicago', '50000']
['5', 'Emily', 'Larson', 'Marketing', '1234567894', '5th Address, Miami', '48700']
['6', 'Anna', 'Sullivan', 'Sales', '3324567895', '6th Address, Miami', '29000']
['7', 'Richard', 'Smith', 'Logistics', '6894567896', '7th Address, New York', '66000']
['8', 'Ronnie', 'Moore', 'Sales', '8974567897', '8th Address, New York', '87000']
['9', 'Andrew', 'Drake', 'IT', '6654567898', '9th Address, Las Vegas', '66900']
['10', 'Wayne', 'Barker', 'Logistics', '9884567899', '10th Address, Las Vegas', '89000']
['11', 'Gina', 'Baker', 'Logistics', '1154567900', '11th Address, Chicago', '31800']
['12', 'Andy', 'Williams', 'HR', '1094567901', '12th Address, Chicago', '65500']
['13', 'Jack', 'Wood', 'Logistics', '2044567902', '13th Address, New York', '90300']
['14', 'Jane', 'Phills', 'HR', '1664567903', '14th Address, New York', '77700']
['15', 'Ron', 'Johnson', 'Sales', '1664567904', '15th Address, New York', '26250']
['16', 'Jackie', 'Stanley', 'Sales', '6894567905', '16th Address, Las Vegas', '38400']
['17', 'Charles', 'Meyer', 'Marketing', '1154567906', '17th Address, Las Vegas', '47000']
['18', 'Charlie', 'Smith', 'Marketing', '9884567907', '18th Address, Las Vegas', '49000']
['19', 'Wayne', 'Andrews', 'Sales', '3324567908', '19th Address, LA', '52000']
['20', 'Adrian', 'Harrison', 'IT', '1234567909', '20th Address, LA', '21160']

In [14]:
# read csv as dictionary:

with open('Employees.csv', newline='') as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row)

{'ID': '1', 'FirstName': 'Luke', 'LastName': 'Phillip', 'Department': 'Sales', 'Phone': '5564567890', 'Address': '1st Address, Miami', 'Salary': '25000'}
{'ID': '2', 'FirstName': 'Jack', 'LastName': 'Darren', 'Department': 'IT', 'Phone': '3444567891', 'Address': '2nd Address, Chicago', 'Salary': '33600'}
{'ID': '3', 'FirstName': 'Ken', 'LastName': 'Wood', 'Department': 'IT', 'Phone': '5524567892', 'Address': '3rd Address, LA', 'Salary': '41150'}
{'ID': '4', 'FirstName': 'John', 'LastName': 'Wilson', 'Department': 'Marketing', 'Phone': '1124567893', 'Address': '4th Address, Chicago', 'Salary': '50000'}
{'ID': '5', 'FirstName': 'Emily', 'LastName': 'Larson', 'Department': 'Marketing', 'Phone': '1234567894', 'Address': '5th Address, Miami', 'Salary': '48700'}
{'ID': '6', 'FirstName': 'Anna', 'LastName': 'Sullivan', 'Department': 'Sales', 'Phone': '3324567895', 'Address': '6th Address, Miami', 'Salary': '29000'}
{'ID': '7', 'FirstName': 'Richard', 'LastName': 'Smith', 'Department': 'Logistics', 'Phone': '6894567896', 'Address': '7th Address, New York', 'Salary': '66000'}
{'ID': '8', 'FirstName': 'Ronnie', 'LastName': 'Moore', 'Department': 'Sales', 'Phone': '8974567897', 'Address': '8th Address, New York', 'Salary': '87000'}
{'ID': '9', 'FirstName': 'Andrew', 'LastName': 'Drake', 'Department': 'IT', 'Phone': '6654567898', 'Address': '9th Address, Las Vegas', 'Salary': '66900'}
{'ID': '10', 'FirstName': 'Wayne', 'LastName': 'Barker', 'Department': 'Logistics', 'Phone': '9884567899', 'Address': '10th Address, Las Vegas', 'Salary': '89000'}
{'ID': '11', 'FirstName': 'Gina', 'LastName': 'Baker', 'Department': 'Logistics', 'Phone': '1154567900', 'Address': '11th Address, Chicago', 'Salary': '31800'}
{'ID': '12', 'FirstName': 'Andy', 'LastName': 'Williams', 'Department': 'HR', 'Phone': '1094567901', 'Address': '12th Address, Chicago', 'Salary': '65500'}
{'ID': '13', 'FirstName': 'Jack', 'LastName': 'Wood', 'Department': 'Logistics', 'Phone': '2044567902', 'Address': '13th Address, New York', 'Salary': '90300'}
{'ID': '14', 'FirstName': 'Jane', 'LastName': 'Phills', 'Department': 'HR', 'Phone': '1664567903', 'Address': '14th Address, New York', 'Salary': '77700'}
{'ID': '15', 'FirstName': 'Ron', 'LastName': 'Johnson', 'Department': 'Sales', 'Phone': '1664567904', 'Address': '15th Address, New York', 'Salary': '26250'}
{'ID': '16', 'FirstName': 'Jackie', 'LastName': 'Stanley', 'Department': 'Sales', 'Phone': '6894567905', 'Address': '16th Address, Las Vegas', 'Salary': '38400'}
{'ID': '17', 'FirstName': 'Charles', 'LastName': 'Meyer', 'Department': 'Marketing', 'Phone': '1154567906', 'Address': '17th Address, Las Vegas', 'Salary': '47000'}
{'ID': '18', 'FirstName': 'Charlie', 'LastName': 'Smith', 'Department': 'Marketing', 'Phone': '9884567907', 'Address': '18th Address, Las Vegas', 'Salary': '49000'}
{'ID': '19', 'FirstName': 'Wayne', 'LastName': 'Andrews', 'Department': 'Sales', 'Phone': '3324567908', 'Address': '19th Address, LA', 'Salary': '52000'}
{'ID': '20', 'FirstName': 'Adrian', 'LastName': 'Harrison', 'Department': 'IT', 'Phone': '1234567909', 'Address': '20th Address, LA', 'Salary': '21160'}

In [15]:
# write to csv file:
with open('output.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['name', 'age'])
    writer.writerow(['Alice', 30])
    writer.writerow(['Luffy', 22])

In [17]:
# write to csv from dictionary:
data = [{'ID': '21', 'FirstName': 'Adan', 'LastName': 'Harron', 'Department': 'IT', 'Phone': '1234567900', 'Address': '22nd Address, LA', 'Salary': '31160'}]
with open('Employees.csv', 'w', newline='') as f:
    writer = csv.DictWriter(f, fieldnames=['ID', 'FirstName', 'LastName', 'Department', 'Phone', 'Address', 'Salary'])
    writer.writeheader()
    writer.writerows(data)