**Functions: Define with def, return values.**

In [2]:
# defining a function:
def my_function():
    print("Hello this is a function..")

my_function()

Hello this is a function..

In [5]:
# passing argument to function:
def my_function(name):
    print("I am",name)

def add(num1,num2):
    print(num1+num2)

my_function("Loki")
add(10,5)

I am Loki
15

In [11]:
# return values:
def calculation(num1,num2):
    sum = num1 + num2
    product = num1 * num2
    return sum, product

a,b = calculation(10,5)
print("Sum:",a, "Product:",b)

Sum: 15 Product: 50

**Arguments: Positional, keyword, default, *args, **kwargs.**

In [15]:
# Positinal arguments:
def greet(name,age):
    print(f"Hello {name}, are you {age} years old?")

greet("Max",25)

Hello Max, are you 25 years old?

In [14]:
# Keyword arguments:
def greet(name = "Marie",age = 22):
    print(f"Hello {name}, are you {age} years old?")

greet()

Hello Marie, are you 22 years old?

In [16]:
# Default arguments:
def greet(name ,age = 26):
    print(f"Hello {name}, are you {age} years old?")

greet("Ron")
greet("Harry",31)

Hello Ron, are you 26 years old?
Hello Harry, are you 31 years old?

In [31]:
from datetime import date

def book_ticket(start_from, destination, date = date.today(),seat_class = "Economy"):
    print(f"Booking flight from {start_from} to {destination}")
    print(f"Date: {date}, Class: {seat_class}")

book_ticket("New York","London")
print("#######################################")
book_ticket("India", "Dubai", seat_class="Business")

Booking flight from New York to London
Date: 2025-05-12, Class: Economy
#######################################
Booking flight from India to Dubai
Date: 2025-05-12, Class: Business

In [18]:
# Variable length arguments *args:
def print_score(name, *scores):
    print(f"{name}'s scores: {scores}")

print_score("Alice", 71,84,59)
print_score("Alex", 51,49,89)

Alice's scores: (71, 84, 59)
Alex's scores: (51, 49, 89)

In [32]:
def add_to_cart(customer_id,*items):
    print(f"User {customer_id} added following items:")
    for i in items:
        print(i)

add_to_cart(1345, "Coke", "Atta", "Comfort")

User 1345 added following items:
Coke
Atta
Comfort

In [27]:
# Variable length keyword arguments **kwargs:
def pet_info(name, **details):
    print(f"{name}'s details: {details}")

pet_info("Beru",species = "Cat",breed = "Persian", age = 6)
pet_info("Roxy",species = "Dog",breed = "Husky", age = 9)

Beru's details: {'species': 'Cat', 'breed': 'Persian', 'age': 6}
Roxy's details: {'species': 'Dog', 'breed': 'Husky', 'age': 9}

In [39]:
def add_to_cart(customer_id,**items):
    print(f"User {customer_id} added following items:")
    for i,j in items.items():
        print("Product:",i,"|Qty:",j)

add_to_cart(1345, Coke = 2, Atta = 3, Soap = 12)

User 1345 added following items:
Product: Coke |Qty: 2
Product: Atta |Qty: 3
Product: Soap |Qty: 12

**Lambda Functions: Anonymous functions.**

In [41]:
x = lambda x: x**2
print(x(9))

y = lambda a,b: a * b
print(y(3,6))

81
18

In [43]:
def myfunc(n):
  return lambda a : a * n

double = myfunc(2)
triple = myfunc(3)

print(double(10))
print(triple(10))

20
30

In [45]:
str1 = "hi how are you?"
result = lambda string: string.upper()
print(result(str1))

HI HOW ARE YOU?

In [46]:
n = lambda x: "Positive" if x>0 else "Negative" if x<0 else "Zero"
print(n(7))
print(n(0))
print(n(-4))

Positive
Zero
Negative

In [54]:
list1 = [lambda a=x: a*2 for x in range(1,6)]
print([f() for f in list1])

[2, 4, 6, 8, 10]

In [58]:
students = [
    {"name": "loki", "score": 88},
    {"name": "zoro", "score": 72},
    {"name": "andy", "score": 95}
]

sort_students = sorted(students, key = lambda student: student["score"])
print(sort_students)

[{'name': 'zoro', 'score': 72}, {'name': 'loki', 'score': 88}, {'name': 'andy', 'score': 95}]

In [59]:
squares = list(map(lambda x: x**2, range(1, 6)))
evens = list(filter(lambda x: x % 2 == 0, range(10)))

print(squares)  # [1, 4, 9, 16, 25]
print(evens)

[1, 4, 9, 16, 25]
[0, 2, 4, 6, 8]

**Recursion: Function calling itself.**

In [60]:
def factorial(n):
    if n==0 or n==1:
        return 1
    return n * factorial(n - 1)
print(factorial(5))

120

In [62]:
def reverse_string(s):
    if len(s) <=1 :
        return s
    return reverse_string(s[1:]) + s[0]

print(reverse_string("12345"))

54321

**Scope: Local vs Global.**

In [63]:
def func():
    x = 10 # local variable
    print("Inside function:", x)

func()

Inside function: 10

In [65]:
x = 20 # global variables

def show():
    print("Inside function:", x) # can access global variable.

show()
print("Outside function:", x)

Inside function: 20
Outside function: 20

In [67]:
# global keyword to update/modify variable:
count = 0

def increment():
    global count
    count += 1
increment()
increment()
print(count)

2

In [68]:
x = "global"

def outer():
    x = "enclosing"
    def inner():
        x = "local"
        print(x)  # local
    inner()
    print(x)  # enclosing
outer()
print(x)  # global

local
enclosing
global

**Modules: Importing, creating custom modules.**

In [70]:
# Built in modules:

import math
print(math.sqrt(81))

9.0

In [72]:
from math import sqrt, pi

r = 5
radius = math.pi*r**2
print(radius)

78.53981633974483

In [81]:
import mymodule 

print(mymodule.greet("Loki"))
print(mymodule.pi)

Hello, Loki!
3.14