In [ ]:
x = "Hello"	#str	
x = 20	#int	
x = 20.5	#float	
x = 1j	#complex	
x = ["apple", "banana", "cherry"]	#list	
x = ("apple", "banana", "cherry")	#tuple	
x = range(6)	#range	
x = {"name" : "John", "age" : 36}	#dict	
x = {"apple", "banana", "cherry"}	#set	
x = frozenset({"apple", "banana", "cherry"})	#frozenset	
x = True	#bool	
x = b"Hello"	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview	
x = None	#NoneType

**Lists: Creation, indexing, slicing:**

In [ ]:
# List Creation: 
x = ["apple", "banana", "cherry", "apple", 100, True, 10.00]
print(x)
print(type(x))

['apple', 'banana', 'cherry', 'apple', 100, True, 10.0]
<class 'list'>

In [6]:
# list() constructor:
list1 = list((1,2,3,4,5))
print(list1)

[1, 2, 3, 4, 5]

In [7]:
# list using loop:
my_list = []
for i in range(1,11):
    my_list.append(i)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# list comprehension:
new_list = [i for i in range(2,21,2)]
print(new_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# list from string:
char_list = list("python")
char_list

['p', 'y', 't', 'h', 'o', 'n']

In [11]:
# list using split:
string = "Hi how are you?"
word_list = string.split()
word_list

['Hi', 'how', 'are', 'you?']

In [18]:
# indexing:

fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

print(fruits[0])
print(fruits[4])
print(fruits[-1])
print(fruits[-2])

# slicing:
print(fruits[::])
print(fruits[1:5])
print(fruits[::2])
print(fruits[::-1])

orange
kiwi
banana
apple
['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
['apple', 'pear', 'banana', 'kiwi']
['orange', 'pear', 'kiwi', 'banana']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

**List Methods:**

In [ ]:

# append() method:
a = ["apple", "banana", "cherry"]
a.append("kiwi")
a

['apple', 'banana', 'cherry', 'kiwi']

In [ ]:
# clear() method:
a = ["apple", "banana", "cherry"]
a.clear()
a

[]

In [ ]:
# copy() method:
a = ["apple", "banana", "cherry"]
b = a.copy()
b

['apple', 'banana', 'cherry']

In [1]:
# count() method:
a = ["apple", "banana", "cherry", "apple"]
x = a.count("apple")
x

2

In [7]:
# extend() method:
num = [1,2,3,4]
new_num = [5,6,7,8]
num.extend(new_num)
num

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# index() method:
list1 = [4, 55, 64, 32, 16, 32]
list1.index(32) # return index of first ocurence only

3

In [10]:
list1 = [4, 55, 64, 32, 16, 32]
list1.index(32,4)

5

In [ ]:
# insert(pos,element) method:
a = ["apple", "banana", "cherry", "apple"]
a.insert(2,"orange")
a

['apple', 'banana', 'orange', 'cherry', 'apple']

In [16]:
# pop() method:
list1 = [4, 55, 64, 32, 16, 32]
list1.pop(4)

16

In [18]:
# remove() method:
list1 = [4, 55, 64, 32, 16, 32]
list1.remove(4)
list1

[55, 64, 32, 16, 32]

In [20]:
# reverse() method:
list1 = [1,2,3,4,5]
list1.reverse()
list1

[5, 4, 3, 2, 1]

In [22]:
# sort() method
list1 = [6,9,2,8,1,3]
list1.sort()
list1

[1, 2, 3, 6, 8, 9]

In [24]:
a = ["apple", "banana", "watermelon", "kiwi"]
a.sort(reverse=True, key=lambda x: len(x))
a

['watermelon', 'banana', 'apple', 'kiwi']

**List Comprehension:**

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newList = [i for i in fruits if "a" in i ]
newList

['apple', 'banana', 'mango']

In [9]:
num = [i for i in range(30)]
new_list = [i for i in num if i != i%3==0]
new_list

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [12]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
upperList = [i.upper() for i in fruits]
upperList

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = [x if x != "banana" else "orange" for x in fruits]
new_list

['apple', 'orange', 'cherry', 'kiwi', 'mango']