**Sets: Unordered collections with unique elements.**

In [7]:
# create a set:
my_set = {"apple","banana","orange","apple", True, 1 ,100, False, 0}
print(my_set)
print(len(my_set))
print(type(my_set))

{False, True, 100, 'banana', 'orange', 'apple'}
6
<class 'set'>

In [11]:
my_set = {"apple","banana","orange","apple", True, 1 ,100, False, 0}
print("banana" in my_set)
print("orange" not in my_set)

True
False

In [ ]:
fruit_set = {"apple", "banana", "cherry"}
fruit_set.add("kiwi")
fruit_set.remove("banana") # if not in set will raise error
fruit_set.discard("banana") # no error if not in set not present.
fruit_set

{'apple', 'cherry', 'kiwi'}

In [17]:
fruit_set = {"apple", "banana", "cherry"}
fruit_set.clear()
fruit_set

set()

In [19]:
fruit_set = {"apple", "banana", "cherry"}
del fruit_set
print(fruit_set) # will raise error

NameError: name 'fruit_set' is not defined

In [21]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7,8}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8}

**Join Sets**

In [ ]:
# union:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7,8}

set3 = set1.union(set2)
# set3 = set1|set2
set3

{1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"Loki", "Zoro"}
set4 = {"apple", "bananas", "cherry"}

set5 = set1|set2|set3|set4
set5

{1, 2, 3, 'Loki', 'Zoro', 'a', 'apple', 'b', 'bananas', 'c', 'cherry'}

In [29]:
x = {1,2,3,4}
y = (3,4,5,6)
z = x.union(y)
print(z)
print(type(z))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [31]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2) # changes the original set,does not return a new set.
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [ ]:
# intersection: 
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2) # return new set
# set3 = set1 & set2
set3

{'apple'}

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2) # update original set, no new set created.
print(set1)

{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
# set3 = set1 - set2
set3

{'banana', 'cherry'}

In [2]:
# symmetric_difference:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
# set3 = set1 ^ set2
set3

{'banana', 'cherry', 'google', 'microsoft'}